In [1]:

 # Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
# Import API key
from config import api_key
c = Census(api_key, year=2018)

In [3]:
api_key

'8a475872db5881efa5000ee360d1c4d9ade692cb'

In [4]:
# url = "https://api.census.gov/data.json?"
# api_key = "&apikey=" + api_key

In [5]:
# get the data through the Python census API wrapper
census_data = c.acs5.get(
    (
        "NAME",
        "B01003_001E",

    ),
    {"for": "zip code tabulation area:*"},
)

In [6]:
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={
    "B01003_001E": "Population",
#     "B01002_001E": "Median Age",
#     "B19013_001E": "Household Income",
#     "B19301_001E": "Per Capita Income",
#     "B17001_002E": "Poverty Count",
    "NAME": "Name", "zip code tabulation area": "Zipcode"
})

census_pd.dropna(how="any", inplace=True)

In [7]:
census_pd = census_pd[[
    "Zipcode",
    "Population"
]]

# Visualize
print(len(census_pd))
census_pd.head(100)

33120

   Zipcode  Population
0    43964      8642.0
1    28216     51116.0
2    28277     71605.0
3    28278     27286.0
4    28303     29414.0
..     ...         ...
95   29448      2309.0
96   29466     38267.0
97   29472      9242.0
98   29488     22056.0
99   29501     46516.0

[100 rows x 2 columns]

In [8]:
# census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)