In [7]:
from sqlalchemy import create_engine
import pandas as pd

In [8]:
engine = create_engine("sqlite:///data/pizza.db", echo=True)
conn = engine.connect()

2021-01-31 15:55:24,713 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-31 15:55:24,715 INFO sqlalchemy.engine.base.Engine ()
2021-01-31 15:55:24,717 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-31 15:55:24,718 INFO sqlalchemy.engine.base.Engine ()

In [9]:
# Create the table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS pizza_counts (
        month text PRIMARY KEY,
        pizza integer
    )
""")

2021-01-31 15:55:25,178 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS pizza_counts (
        month text PRIMARY KEY,
        pizza integer
    )

2021-01-31 15:55:25,180 INFO sqlalchemy.engine.base.Engine ()
2021-01-31 15:55:25,182 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
# get the data. This could be from a CSV, api, etc.
pizza = [15, 5, 25, 18, 12, 22, 0, 4, 15, 10, 21, 2]
month = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
]

In [11]:
df = pd.DataFrame({
    "Month": month,
    "Pizza": pizza
})
df

   Month  Pizza
0    Jan     15
1    Feb      5
2    Mar     25
3    Apr     18
4    May     12
5    Jun     22
6    Jul      0
7    Aug      4
8    Sep     15
9    Oct     10
10   Nov     21
11   Dec      2

In [13]:
# insert data into the DB
df.to_sql("pizza_counts", conn, if_exists="append", index=False)

2021-01-31 15:55:32,303 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("pizza_counts")
2021-01-31 15:55:32,304 INFO sqlalchemy.engine.base.Engine ()
2021-01-31 15:55:32,308 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-31 15:55:32,310 INFO sqlalchemy.engine.base.Engine INSERT INTO pizza_counts ("Month", "Pizza") VALUES (?, ?)
2021-01-31 15:55:32,311 INFO sqlalchemy.engine.base.Engine (('Jan', 15), ('Feb', 5), ('Mar', 25), ('Apr', 18), ('May', 12), ('Jun', 22), ('Jul', 0), ('Aug', 4)  ... displaying 10 of 12 total bound parameter sets ...  ('Nov', 21), ('Dec', 2))
2021-01-31 15:55:32,313 INFO sqlalchemy.engine.base.Engine COMMIT